
@font-face {
	font-family: 'Jomhuria';
	src: url('https://fonts.googleapis.com/css?family=Jomhuria');
}
body {
	background-color: #0F1521;
	font-family: 'Jomhuria';
}

hr {
	border-style: none;
	height: 1px;
	background-color: black;
}

.header a{
	background-color: transparent;
	width: auto;
	color: white;
	border: none;
	width: auto;
	text-align: center;
	display: inline-flex;
	position: relative;
	margin-left: 40%;
	font-size: 20px;
	text-decoration: none;
	line-height: normal;
}

.months {
	margin-left: 21%;
	margin-top:1%;
	display: inline-flex;
	margin-bottom: 3%;

}


.h3_month span{
	color: #FFF;
	font-family: Jomhuria;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;


	
}

.months button:focus span{
	color:#00FFF0;
	opacity: .4;
}

.card_right{
	margin-left: 30%;
	margin-top: .6rem;
	display:block;
	width: auto;
	height: auto;
}

.btn_change{
	width: 30px;
	height: 30px;
	flex-shrink: 0;
	border-radius: 5px;
	background: #D9D9D9;
	border-style: none;
	margin-left: 3rem;

}

.btn_change_all{
	margin-left: 38.5%;
	margin-top: 4%;
}

.card_left_2{
	margin-top: -30.33%;
}
.card_left{
	margin-left: 50%;
	margin-top: .6rem;

	display:block;
}

.card_right_up{
	color: #FFF;
	font-family: Jomhuria;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.card_right_down{
	margin-top: -.3rem;
	margin-left: 2rem;
}

.h3_month {
	font-family: Jomhuria;

	height: auto;
	width: auto;
	text-align: center;
	align-items: center;
	background-color: transparent;
	border: none;
	overflow:hidden;
	margin-left: .2rem;
}

.header a:focus {
	outline: none;
	color: #00FFF0;
	opacity: 0.4;
}

.text_info p{

	color: white;
	display:inline-flex;
	position: flex;
	margin-left: 30%;
	font-size: 50px;
	line-height: normal;
	font-weight: 400px;
	font-style: normal;
	margin-top: 6rem;
}


#fatura {
	margin-left: 5%;
}
